<%- include('partials/head') %>

    <link rel="stylesheet" href="/resources/css/header.css">

    <%- include('partials/header') %>

    <% if (nombre){ %>
                <h2>SOMOS <%= nombre %></h2>
        <p>Para vivir una experiencia diferente, <%= experiencia %></p>
    <% } %>






