<%- include('partials/head') %>

<%- include('partials/header') %>

<link rel="stylesheet" href="/resources/css/login.css">

<main class="auth-wrapper">
  <% if (login) { %>
    <form class="login-container" action="/login" method="POST">
      <h2>Iniciar Sesión</h2>
      <input type="text" name="user" placeholder="Usuario" required>
      <input type="password" name="pass" placeholder="Contraseña" required>
      <button type="submit">Ingresar</button>
    </form>
  <% } else { %>
    <div class="denied-container">
      <p>⛔ Acceso denegado</p>
      <h1>¿Ya te registraste?</h1>
      <button>
      <a class="register-link" href="/register">CREA UN CUENTA</a>
      </button>
    </div>
  <% } %>
</main>


        